@tailwind base;
@tailwind components;
@tailwind utilities;



.hero-img {
    background-image: url(./images/hero.jpg);
    @apply bg-cover  bg-center  bg-no-repeat; 
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

.btn-primary {
@apply px-4 py-2 tracking-wide mt-4 text-2xl font-semibold text-white uppercase md:text-3xl transition-colors duration-200 transform 
}

.btn-secondary {
@apply px-4 py-2 mt-4 tracking-wide text-2xl font-semibold text-blue-500 uppercase md:text-3xl transition-colors duration-200 transform 
}

.menu-text {
    @apply px-2 py-1 mx-2 mt-2 text-sm font-medium
}