@tailwind base;
@tailwind components;
@tailwind utilities;

.menu-card {
    @apply flex flex-col justify-center items-center bg-white h-screen font-mono py-40;
}

.center-content {
    @apply flex flex-col justify-center items-center;
}

.testing {
    @apply bg-blue-500 text-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider
}

.hero-img {
    background-image: url(./images/photo1.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-image{
    width: 46px;
    height: 46px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}